@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap'); 

:root{
	--background-color-standby: lightgrey;
	--background-color-active : grey;
	--font-color-active       : white;
}

body{
	font-family: 'Open Sans', sans-serif;  
	font-size: 24px;
}

.workspace{
	background-color: white;
	margin-top: 5px;
	border-radius: 10px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	flex-direction: row;		
}

.myheader{
	margin-bottom: 12px;
	border: 1px solid var(--background-color-active);
	text-align: center;
	background-color: var(--background-color-standby);
	padding: 5px;
	font-size: 48px;
	box-shadow: 6px 6px 12px var(--background-color-standby),
				-6px -6px 12px var(--font-color-active);	
}

.sidebar{
	margin: 6px;
	background-color: var(--background-color-standby);	
	border: 1px solid var(--background-color-active);
	border-radius: 10px;
	width: 300px;
	min-height: 0px;
	box-shadow: 6px 6px 12px var(--background-color-standby)
}

.content{
	margin: 6px;
 	font-size: 24px;
	background-color: var(--background-color-standby);	
	border: 1px solid var(--background-color-active);
	border-radius: 10px;
	flex-grow: 1;
	margin-left: 5px;
	margin-right: 5px;
  	text-align: center;
	box-shadow: 6px 6px 12px var(--background-color-standby)
}

.select{
	margin: 10px;
	color: #090909;
	padding: 10px;
	font-size: 24px;
	border-radius: 0.5em;
	background: var(--background-color-standby);
	border: 1px solid #e8e8e8;
	transition: all .3s;
	box-shadow: 6px 6px 12px var(--background-color-active);	
}

ul{
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

ul:hover{
	background-color: var(--background-color-active);
	color: var(--font-color-active);
	border-radius: 10px;
	text-decoration: none;
	cursor: grab;
	transition: all .3s;
	box-shadow: 6px 6px 12px var(--background-color-active)
}

ol{
	margin: 10px;
	padding-left: 0px;
	padding-right: 0px;
  	text-align: left;	
}

button {
	margin: 10px;
	color: #090909;
	padding: 10px;
	font-size: 24px;
	border-radius: 0.5em;
	background: var(--background-color-standby);
	border: 1px solid #e8e8e8;
	transition: all .3s;
	box-shadow: 6px 6px 12px var(--background-color-active)
   }
   
button:active {
	color: #666;
	box-shadow: inset 4px 4px 12px var(--background-color-active);
}

button:hover{
	background: var(--background-color-active);
}