@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap'); 

:root{
	--background-color-standby: #d9d9d9;
	--background-color-active : grey;
	--font-color-active       : white;

	--input-font-size         : 16px;
	--input-background-color  : #f2f2f2;
}

body{
	font-family: 'Open Sans', sans-serif;  
	font-size: 24px;
	text-shadow: 2px 2px var(--input-background-color);
}

.workspace{
	background-color: white;
	margin-top: 5px;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.myheader{
	margin-bottom: 12px;
	border: 1px solid var(--background-color-active);
	text-align: center;
	background-color: var(--background-color-standby);
	padding: 5px;
	font-size: 48px;
	box-shadow: 6px 6px 12px var(--background-color-standby),
				-6px -6px 12px var(--font-color-active);	
}

.sidebar{
	padding-left: 10px;
	padding-right: 10px;
	margin: 6px;
	background-color: var(--background-color-standby);	
	border: 1px solid var(--background-color-active);
	border-radius: 10px;
	min-height: 0px;
	box-shadow: 6px 6px 12px var(--background-color-standby)
}

.content{
	padding: 5px;
	margin: 6px;
 	font-size: 24px;
	background-color: var(--background-color-standby);	
	border: 1px solid var(--background-color-active);
	border-radius: 10px;
	flex-grow: 1;
	margin-left: 5px;
	margin-right: 5px;
  	text-align: center;
	box-shadow: 6px 6px 12px var(--background-color-standby)
}

select{
	margin: 5px;
	color: #090909;
	padding: 4px;
	font-size: var(--input-font-size);
	border-radius: 0.5em;
	background: var(--input-background-color);
	border: 1px solid black;
	transition: all .3s;
	box-shadow: 6px 6px 12px var(--background-color-active);	
}

ul{
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

ul:hover{
	background-color: var(--background-color-active);
	color: var(--font-color-active);
	border-radius: 10px;
	text-decoration: none;
	cursor: grab;
	transition: all .3s;
	box-shadow: 6px 6px 12px var(--background-color-active);
	text-shadow: none;
}

.sidebar > ol{
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
  	text-align: center;	
	display: flex;
	justify-content: center;
}

.sidebar > ol > ul{
	border-left: solid;
	width: 300px;
}

.sidebar > ol > ul:last-child{
	border-right: solid;
}

button {
	min-width: 80px;
	margin: 10px;
	color: #090909;
	padding: 10px;
	font-size: var(--input-font-size);
	border-radius: 0.5em;
	background: var(--background-color-standby);
	border: 1px solid black;
	transition: all .3s;
	box-shadow: 6px 6px 12px var(--background-color-active)
   }
   
button:active {
	color: #666;
	box-shadow: inset 4px 4px 12px var(--background-color-active);
}

button:hover{
	background: var(--background-color-active);
}

input{
	margin: 5px;
	margin-left: 5px;
	background: var(--input-background-color);	
	vertical-align: 0%;
	font-size: var(--input-font-size);
	box-shadow: 6px 6px 12px var(--background-color-active);
	border: 1px solid black;
}

label {
	font-size: var(--input-font-size);
}